@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.first{
    display: flex;
    justify-content: space-between;
    color: grey;
    align-items: center;
    border-bottom: 1px solid grey;
    position: sticky;
}
.select {
    padding: 10px;
}
.second , .first {
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.second h1 {
    font-family: 'Lato', sans-serif;
}
.centerBox {
    border: 1px solid orange;
    text-decoration: none;
} 
.icons {
    display: flex;
}
nav {
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: 24px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 2rem;
} 

.menu {
    position: relative;
}
.menu:hover .submenu {
    display: block;
    transition: opacity 0.5s ease;
}
.submenu {
    width: 400px;
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 5;
}
.submenu a {
    display: block;
}

main {
    width: 100px;
    display: flex;
}
.card h2 {
    color: pink;
}
.central img {
    width: 600px;
    display: flex;

    position: absolute;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    width: 70%;
} 
.infoBox img {
    width: 200px;
}
.priceBox {
    display: flex;
}
.priceBox span {
    text-decoration:line-through;
}
.priceBox button{
    background-color: orange;
    border-radius: 5px;
}
footer {
    background-color: black;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid grey;
}
.flex-footer:nth-child(1) {
    color: white;
    font-size: 24px;
    font-family: myriad pro;
    font-weight: bold;
}
.flex-footer p {
    font-size: 18px;
    padding: 10px;
}
.pay {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
@media (max-width 768px) {
    .container-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
        width: 70%;
        
    }
}
@media (max-width 580px) {
    .container-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        width: 70%;
        
    }
}
    

